<h1>All Cards</h1>

<table class="table">
 <tr>
   <th>Original Text</th>
   <th>Translated Text</th>
   <th>Date</th>
   <th colspan="2"></th>
 </tr>

 <% @cards.each do |card| %>
 <tr>
 	<th><%= card.original_text %></th>
 	<th><%= card.translated_text %></th>
 	<th><%= card.review_date %></th>
 	<th><%= link_to 'Edit', edit_card_path(card)%></th>
 	<th><%= link_to 'Delete', card_path(card), method: :delete, data: { confirm: "Are you sure?" } %></th>
 </tr>
 <% end %>

</table>